* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}
/* ---- Title ---- */
#header {
   text-align: center;
   margin: 2em auto auto auto;
   font-size: 5em;
}
#subheader {
   text-align: center;
   font-size: 2em;
}
/* ---- Container ----- */
#container {
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50vw;
    max-width: 650px;
    font-size: 0;
   
}
/*
 border-style: solid;
    border-width: 0px 1px 1px 1px;
*/
.navigationButton {
    display: inline-block;
    width: 50%;
    font-size: 2rem;
    padding: 0.5em;
}
/* ----- Log in form ----- */
#loginForm {
    display: block;
    font-size: 1.5rem;
    padding: 1em;
}
#loginForm p {
    font-weight: bold;
}
#loginForm input[type="text"], #loginForm input[type="password"]{
    width: 100%;
    font-size: 1.5rem;
}
#loginForm button{
    display: block;
    width: 100%;
    margin-top: 1em;
    font-size: 1.5rem;
}
#loginUsernameResponse, #loginPasswordResponse {
    margin: 0.5em 0;
    height: 1em;
    font-weight: normal;
    color: red;
    font-size: 1rem;
}
/* ----- Register form ----- */
#registerForm {
    display: block;
    font-size: 1.5rem;
    padding: 1em;
}
#registerForm p {
    font-weight: bold;
}
#registerForm input[type="text"], #registerForm input[type="password"]{
    width: 100%;
    font-size: 1.5rem;
}
#registerForm button{
    display: block;
    width: 100%;
    margin-top: 1em;
    font-size: 1.5rem;
}
#registerUsernameResponse, #registerPasswordResponse, #registerEmailResponse {
    margin: 0.5em 0;
    height: 1em;
    font-weight: normal;
    color: red;
    font-size: 1rem;
}
/* ----- Register form Success ---- */
#registerFormSuccess button{
    display: block;
    width: 40%;
    margin: 2em auto;
    font-size: 2rem; 
}
#registerFormSuccess p {
    font-size: 2rem;
    margin: 2em auto;
    text-align: center;
}
/* Default visibility */
#registerForm, #registerFormSuccess {
    display: none;
}