body
{
    background-image: url("../img/background.jpg");
    background-color:#550D09;
    color: rgb(131, 150, 54);
    text-shadow: 2px 2px 18px rgb(49, 177, 85);
    font-family: 'Trebuchet MS';
}
#loginForm
{
    background-image: url("../img/containerBackground.jpg");
    background-position: top center;
}
#registerForm
{
    background-image: url("../img/containerBackground.jpg");
    background-position: top center;
}
#container
{
    border: 15px rgb(41, 19, 19) ridge;

    background-color: rgb(82, 82, 82);
    color: rgb(150, 144, 54);
    text-shadow: 2px 2px 18px rgb(49, 177, 85);
}
button
{
    font-family: 'Trebuchet MS';
    background: linear-gradient( rgb(150, 101, 101), rgb(82, 82, 82));
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-shadow: 2px 2px 18px #FFFFFF;
}
button:hover
{
    background: linear-gradient(#83140E, #3e0907);
    box-shadow: 12px 12px 16px 12px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(131, 150, 54);
    text-shadow: 2px 2px 18px rgb(49, 177, 85);
}