* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Containers */
#content {
    position: relative;
    width: 90%;
    height: 90vh;
    margin: 2% auto;
}
#top {
    display: block;
    font-size: 0;
    padding: 8%;
}
#bottom {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    border: 1px solid black;
    border-width: 1px 0 0 0;
    font-size: 0;
    text-align: center;
}
#battlePlayerColumn {
    display: inline-block;
    height: 100%;
    width: 49%;
}
#battleMonsterColumn {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    height: 100%;
}
.characterContainer {
    display: block;
    width: 24rem;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 4.5%;
}
.imageContainer img {
    height: 30vh;
    max-width: auto;
}
.imageContainer {
    position: relative;
    display: block;
    padding-top: 5%;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.2)
}
.healthPoints {
    display: block;
    position: relative;
    width: 100%;
}
#enemyCurrentHealth {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
}
#playerCurrentHealth {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.healthPointsBar {
    display: block;
    position: absolute;
    width: 100%;
    height: 2rem;
    background: linear-gradient(red, #5f0101);
    box-shadow: hsla(0, 62%, 39%, 0.514) 0px 0px 5px 5px;
}
.characterContainer span {
    font-size: 1.5rem;
}
#battleButtonsColumn {
    display: inline-block;
    height: 100%;
    width: 50%;
    text-align: center;
}
#battleActionButtons button{
    display: block;
    width: 100%;
    padding: 1%;
    font-size: 2.5rem;
}
#battleLogColumn {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    width: 50%;
    padding-top: 3rem;
}
#battleLogContainer {
    text-align: center;
}
#battleLogContainer p{
    font-size: 1.5rem;
}
#battleResultButtons {
    display: none;
}
#battleResultButtons button {
    display: block;
    width: 100%;
    padding: 1%;
    font-size: 2.5rem;
}