*
{
    font-family: 'Trebuchet MS';
}
body 
{
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}
#battleMonsterColumn .characterContainer .imageContainer p {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    height: 32vh;
    width: 100%;
    padding: 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0,0,0,0.50);
}
#battleMonsterColumn .characterContainer .imageContainer .splashDamage {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}
#battleMonsterColumn .characterContainer .imageContainer .splashDamageAmmount {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    line-height: 21rem;
    font-size: 3rem;
    color: black;
    background: none;
    padding: 0;
}
#battlePlayerColumn .characterContainer .imageContainer .splashDamageAmmount {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    line-height: 21rem;
    font-size: 3rem;
    width: 100%;
    color: black;
    background: none;
    padding: 0;
}
#battlePlayerColumn .characterContainer .imageContainer .splashDamage {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}
button
{
    font-family: 'Trebuchet MS';
    background: linear-gradient( rgb(150, 101, 101), rgb(82, 82, 82));
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-shadow: 2px 2px 18px #FFFFFF;
}
button:hover
{
    background: linear-gradient(#83140E, #3e0907);
    box-shadow: 12px 12px 16px 12px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(131, 150, 54);
    text-shadow: 2px 2px 18px rgb(49, 177, 85);
}

#bottom
{
    border: 15px rgb(41, 19, 19) ridge;
    background-image: url("../img/battleLog2.jpg");
    background-position: right bottom; 
}

#battle_log
{
    color: rgb(150, 124, 54);
    text-shadow: 0px -1px 4px rgb(29, 28, 28), 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
}

.characterContainer h2 
{
    font-size: 1.5rem;
    background-color: gainsboro;
    border: rgb(41, 19, 19) ridge;
    border-width: 0 0 12px;
}

.characterContainer
{
    border: 10px rgb(41, 19, 19) ridge;
    border-width: 12px;
}

.header, .subHeader
{
    background: linear-gradient(rgb(150, 90, 101),  rgb(233, 100, 71));
}

div.imagecontainer
{
    background-color: rgba(240, 248, 255, 0.2)
}