 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    width: 100%;
}
.header {
    text-align: center;
}
/* Divide to columns */
#profile_equipment, #profile_inventory, #profile_stats {
    display: inline-block;
    vertical-align: top;
    margin: 2% 2%;
    height: 80vh;
    width: 29%;
}
/* Profile stats */
#profile_stats img {
    display: block;
    width: 80%;
    margin: 5% auto;
}
#profile_stats table {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
}
/* Profile equipment */
#profile_equipment table {
    width: 100%;
    height: 80%;
    table-layout: fixed;
    border-collapse: collapse;
}
#profile_equipment table tr{
    height: 33%;
}
#profile_equipment img {
    display: block;
    margin: 0 auto;
    height: 17vh;
}
/* Profile inventory */
#profile_inventory table{
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.inventory_image {
    vertical-align: middle;
}
#profile_inventory .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
/* Bottom selection buttons */
#buttons {
    text-align: center;
}
#buttons form {
    display: inline-block;
    width: 30%;
}
#buttons form:last-child {
    margin-left: 5%;
}
#buttons form input[type="submit"] {
    display: inline-block;
    width: 100%;
    height: 5%;
    font-size: 1.5em;
}
/* MEMBER TO REMOVE, KAY? */
#profile_equipment {
    border: 1px solid pink;
}
#profile_inventory {
    border: 1px solid blue;
}
#profile_stats {
    border: 1px solid green;
}
#profile_stats img {
    border: 1px solid purple;
}
#profile_equipment img {
    border: 1px solid gold;
}
.header {
    border: 1px solid red;
}
.inventory_image {
    border: 1px solid darkgoldenrod;
}