*
{
    text-shadow: 2px 2px 18px;
    font-family: 'Trebuchet MS';
}

#content 
{
    background: radial-grad
    ient(farthest-corner at 60% 55%, #480500, #e5bc63, #9f6060);
    background-image: url("../img/rest.png");
}


button
{
    font-family: 'Trebuchet MS';
    background: linear-gradient( rgb(150, 101, 101), rgb(82, 82, 82));
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-shadow: 2px 2px 18px #FFFFFF;
}
button:hover
{
    background: linear-gradient(#83140E, #3e0907);
    box-shadow: 12px 12px 16px 12px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgb(131, 150, 54);
    text-shadow: 2px 2px 18px rgb(49, 177, 85);
}

.profileTable
{
    color: whitesmoke;
}
#col, #profileStats
{
    color: whitesmoke;
}

#overlay, #overlayInfo
{
    display: none; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 4; 
    background-color: rgba(0,0,0,0.9);
}
.itemInfoContainer {
    display: none;
}
.itemInfoContainer h3 {
    margin-bottom: 1rem;
}
#modify, .itemInfoContainer
{
    color: rgb(131, 150, 54);
    text-shadow: 2px 2px 18px rgb(49, 177, 85);
    z-index: 3; 
    padding: 1%; 
    width: 20%; 
    min-width: 300px;
    margin: 5% auto; 
    background:  linear-gradient(rgb(139, 133, 133), rgba(0,0,0,0.1), #83140E);
    border: 15px rgb(41, 19, 19) ridge;
}
.itemInfoContainer {
    width: 30%;
    min-width: 300px;
}
.itemInfoContainer img {
    width: 30%;
}
.itemInfoContainer h3 {
    font-size: 3rem;
}
.itemInfoContainer button[type="button"]{
    margin-top: 3rem;
    padding: 1%;
}
.itemInfoContainer .infoStats {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
}
.itemInfoContainer .infoStats p, .itemInfoContainer p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
#modify h1, #modify h3, #modify input
{
    margin-bottom: 1em;
}
#modify img {
    display: block;
    width: 100px;
    height: 100px;
}
#modify input[type='file']{
    display: block;
}
#modify p {
    margin-bottom: .5em;
}
#modify hr {
    margin: 1em 0;
    color: rgb(131, 150, 54);;
    background-color: rgb(131, 150, 54);;
    border-color: rgb(131, 150, 54);
}
#saveSettings, .equipHeadInfo button[type="button"]
{
    padding: 1% 3%;
    display: block;
}

.distributePoints, #save
{
    display: none;
    font-size: 1.7rem;
    padding: 0 10%;
}

.pointsButton
{
    font-size: 1.8rem;
    font-weight: bolder;
    min-width: 1.8rem;
}

#distribute
{
    font-size: 1.8rem;
    padding: 0.5% 1%;
}

.inventorySlot, .equipmentImage, #profileAvatar
{
    border: 8px rgb(41, 19, 19) ridge;
    padding: 0 0;
}

.header, .subHeader
{
    background: linear-gradient(rgb(150, 90, 101),  rgb(233, 100, 71));
}

.contextMenu
{
    display: none;
    position:absolute;
    z-index:15;
	width:300px;
	margin:0; padding:10px; list-style:none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    display: block;
    width: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {background-color: #ddd}

.show {display:block;}
