 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
/* Containers */
#content {
    width: 90%;
    height: 80%;
    margin: 2em auto;
}
#profileTable {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.col {
    display: table-cell;
}
/*
    border: 1px solid black;

*/
#navigation {
    text-align: center;
}
#navigation button {
    font-size: 2.5rem;
    margin: 0 .5em;
    padding: .5rem;
}
/* Equipment */
.header {
    text-align: center;
    background-color: gainsboro;
    border: rgb(41, 19, 19) ridge;
    border-width: 15px 0 15px 0;
    font-size: 2.5em;
    padding: .2em; 
}
/*    border-width: 0 0 1px 0;
*/
#equipmentTable {
    width: 100%;
    height: 100%;
    margin: 2.5em auto;
}
#equipmentTable .row {
    text-align: center;
}
.equipment {
    display: inline-block;
    width: 30%;
    padding: .8em;
    margin: 0.2em;
    overflow: hidden;
}
/*
    border: 1px solid black;

*/
.equipmentImage {
    max-height: 100%;
    max-width: 100%;
}
/* Statistic */
.subHeader {
    background-color: gainsboro;
    text-align: center;
    font-size: 1.2em;
    border: rgb(41, 19, 19) ridge;
    border-width: 0 0 12px 0;
}
/*
    border-bottom: 1px solid black;
*/
#profileAvatar {
    display: block;
    width: 60%;
    overflow: hidden;
    margin: 1.5em auto;
    padding: .5em;
}
/*
    border: 1px solid black;
*/
#profileAvatar img {
    max-height: 100%;
    max-width: 100%;
}
#profileStats {
    display: block;
    margin: 2.5em auto;
    width: 80%;
    height: 35%;
    padding: 0 2rem;
}
/*
    border: 1px solid black;
*/
#profileStats p{
    font-size: 1.8rem;
    margin: 0.8rem auto;
}
/* Inventory */
#profileInventory {
    display: table;
    table-layout: fixed;
    width: 55%;
    border-spacing: 0.5em;
    margin: 0 auto;
    margin-top: 0.5em;
}
#profileInventory .row {
    display: table-row;
    width: 50%;
}
.inventorySlot {
    display: table-cell;
    text-align: center;
}
.inventorySlot img{
    max-height: 100%;
    max-width: 100%;
}