#header {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}
#header p {
    display: table;
    font-weight: 900;
    padding: 1%;
    font-size: 3em;
    margin: 0.5em auto 0 auto;
}
