body {
    position: relative;
    height: 90vh;
    background: rgb(50, 50, 50);
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-size: 4em;
    margin-bottom: 2.5em;
    color: white;
}
#loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
table {
    margin: 0 auto;
    padding-top: 1.0em;
    font-size: 1.5em;
    background-color:gainsboro;
    border-radius: 0.5em;
}
table tr, td{
    padding: 0.5em;
}
input[type="text"], input[type="password"]{
    border-radius: 0.5em;
    font-size: 1.1em;
    padding: 0.5em;
    border: none;
}
input[type="submit"]{
    font-size: 1.0em;
}
input[type="submit"]{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 0.3em;
    background: white;
    border: none;
    border-radius: 0.5em;
}
input[type="submit"]:hover{
    background-color: black;
    color: white;
}