#navigationBar {
    display: block;
    font-size: 1em;
    padding-top: 1%;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid black;
    box-shadow: 0 5px 8px -4px gray;
}
.dropdown {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
} 
.dropbtn, .navbtn {
    font-size: 1.2em;    
    border: 1px solid transparent;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-decoration: none;
}
.navbar a:hover, .dropdown:hover .dropbtn, .navbtn:hover {
    background-color: #f6f6f6;
    border: 1px solid black;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropContbtn{
    display: block;
    float: none;
    color: black;
    padding: 12px 16px;
    background-color: white;
    text-decoration: none;
}
.dropContbtn:hover {
    background-color: black;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#loggedIn {
    position: absolute;
    background: black;
    color: white;
    top: 0;
    padding: .6rem;
    left: 75%;
    border-radius: 0em 0em 1em 1em;
    font-family: 'Ubuntu', sans-serif;
}
#loggedIn p {
    display: inline-block;
}
#loggedIn a {
    color: gainsboro;
    font-weight: bold;
    text-decoration: none;
    margin-left: 0.3em;
}
