h1 {
    color: white;
    padding: 0.4em;
}
h2 {
    color: white;
    padding: 0.4em;
}
h1, h2{
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.content{
    display: table;
    max-height: 80vh;
    width: 80vw;
    margin: 2em auto;
    border: 1px solid black;
}
.contentTable{
    margin: 0 auto;
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}
.contentTable td{
    border: 1px solid black;
    padding: 0.5em;
    font-size: 1.0em;
}
.contentTable th{
    border: 1px solid black;
    padding: 0.5em;
    font-size: 1.2em;
    color: white;
    background-color: #45484d;
}
.addTable {
    width: 100%;
    margin-top: 1em;
    border-collapse: separate;
}
.addTable button{
    background: url("../img/add.png") no-repeat;
    background-size: cover;
    width: 2em;
    height: 2em;
    border: none;
}
.addTable button:hover {
    background: url("../img/addHover.png") no-repeat;
    background-size: cover;
}
.addTable tr, .addTable td{
    padding: 10px;
}
.addTable tr:first-child {
    border-bottom: 1px solid black;
}
.tableButtons {
    text-align: center;
}
.tableButtons button{
    border: none;
    width: 2em;
    height: 2em;
}
.removeButton {
    background: url("../img/remove.png") no-repeat;
    background-size: contain;
}
.removeButton:hover {
    background: url("../img/removeHover.png") no-repeat;
    background-size: contain;
}
.editButton {
    background: url("../img/edit.png") no-repeat;
    background-size: contain;
}
.editButton:hover {
    background: url("../img/editHover.png") no-repeat;
    background-size: contain;
}
.tableButtons button img, .addTable button img{
    height: 2em;    
}
.tableButtons button div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}